<h3>JOB BUILDING</h3>
<div>
  <button class="btn-align" mat-raised-button (click)="AddJob()">
    Add Job
  </button>
</div>

<div cdkDropListGroup *ngIf="jobList">
  <div
    cdkDropList
    [cdkDropListData]="jobList"
    class="example-list content-width"
    (cdkDropListDropped)="dropJob($event)"
  >
    <div
      class="example-list content-width"
      *ngFor="let d of jobList; index as i"
      cdkDrag
    >
      <h3 class="header-text">{{d.name}}</h3>
      <button
        class="btn-arrow"
        mat-icon-button
        (click)="i === 0 ? onUpClick(0) : onDownClick(i)"
      >
        <span class="material-icons"
          >{{ i === 0 ? 'arrow_upward' : 'arrow_downward' }}</span
        >
      </button>
      <div
        cdkDropList
        [cdkDropListData]="d.children"
        class="example-list content-width"
        (cdkDropListDropped)="dropJob($event)"
      >
        <div
          class="example-box"
          *ngFor="let item of d.children; index as i"
          cdkDrag
        >
          {{item.name}}
        </div>
      </div>
    </div>
  </div>
</div>

<div
  cdkDropList
  class="example-list content-width"
  [cdkDropListData]="positions"
  (cdkDropListDropped)="drop($event)"
>
  <div
    class="example-box"
    *ngFor="let position of positions; index as i"
    cdkDrag
  >
    <div class="w-100 drag-content">
      <mat-checkbox (change)="onJobSelected()" [(ngModel)]="position.isSelect"
        >{{ position.name }}</mat-checkbox
      >
    </div>
  </div>
</div>

<br />

<ng-template #openDialog>
  <form class="example-form" #f="ngForm">
    <mat-form-field class="example-full-width">
      <mat-label>Add Job</mat-label>
      <input
        matInput
        #job
        (input)="job.value = job.value.toLocaleUpperCase()"
        placeholder="JOB"
        [(ngModel)]="jobTitle"
        [ngModelOptions]="{standalone: true}"
      />
    </mat-form-field>
    <button class="btn-align-save" mat-raised-button (click)="save()">save</button>
  </form>
</ng-template>
